# dtcu0ng (https://github.com/dtcu0ng) and CuongZ (https://github.com/CuongZ) are the same person.
# Owner of these source files are mentioned below.
*.bat @dtcu0ng #@CuongZ
*.au3 @dtcu0ng #@CuongZ
*.md @dtcu0ng #@CuongZ
chat-archive/* @dtcu0ng #@CuongZ
quiz-beta/* @dtcu0ng #@CuongZ
sources/* @dtcu0ng #@CuongZ
ToolkitTCGM/* @dtcu0ng #@CuongZ
keybase.txt @dtcu0ng #@CuongZ
