# dtcu0ng and CuongZ are same person.
# Owner of these source file are below.
*.bat @CuongZ @dtcu0ng
*.au3 @CuongZ @dtcu0ng
*.md @CuongZ @dtcu0ng
chat-archive/* @CuongZ @dtcu0ng
quiz-beta/* @CuongZ @dtcu0ng
sources/* @CuongZ @dtcu0ng
ToolkitTCGM/* @CuongZ @dtcu0ng
keybase.txt @CuongZ @dtcu0ng