/*links v2*/
#heading-v2 {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
  }
  #body-v2 {
    background-color: white;
    font-family: "Inconsolata", sans-serif;
  }
  #card-v2 {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
  }