/*links vNext*/
#heading-vNext {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
  }
  #body-vNext {
    background-color: white;
    font-family: "Inconsolata", sans-serif;
  }
  #card-vNext {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
  }